<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<p>ID: <span th:text="${contact.id}"></span></p>
	<p>姓: <span th:text="${contact.lastName}"></span></p>
	<p>名: <span th:text="${contact.firstName}"></span></p>
	<p>メールアドレス: <span th:text="${contact.email}"></span></p>
	<p>電話番号: <span th:text="${contact.phone}"></span></p>
	<p>郵便番号: <span th:text="${contact.zipCode}"></span></p>
	<p>住所: <span th:text="${contact.address}"></span></p>
	<p>建物名: <span th:text="${contact.buildingName}"></span></p>
	<p>お問い合わせ種別: <span th:text="${contact.contactType}"></span></p>
	<p>内容: <span th:text="${contact.body}"></span></p>
	<p>作成日時: <span th:text="${contact.createdAt}"></span></p>
	<p>更新日時: <span th:text="${contact.updatedAt}"></span></p>
	<a th:href="@{/admin/contacts/{id}/edit(id=${contact.id})}">編集</a>
</body>
</html>