<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<tr th:each="contact : ${contacts}">
	            <td th:text="${contact.id}"></td>
	            <td th:text="${contact.lastName}"></td>
	            <td th:text="${contact.firstName}"></td>
	            <td th:text="${contact.contactType}"></td>
	            <td th:text="${contact.createdAt}"></td>
	            <td th:text="${contact.updatedAt}"></td>
	            <td><a th:href="@{/admin/contacts/{id}(id=${contact.id})}">詳細</a></td>
	        </tr>
</body>
</html>